body, html {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
}

.bg-image {
    background-image: url("/img/img8.png");
    filter: blur(3px);
    -webkit-filter: blur(3px);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.Luganighetta {
    background-image: url("/img/Luganighetta1.jpg");
    filter: blur(3px);
    -webkit-filter: blur(3px);
    height: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
}

.Anlässe {
    position: absolute;
    top: 251%;
    left: 25%;
    transform: translate(-50%, -50%);
    height: 100%;
    z-index: 2;
    padding: 20px;
    text-align: center;
    box-shadow: 25px 25px 50px 0 white inset, -25px -25px 50px 0 white inset;
}

.Angebot {
    position: absolute;
    top: 351%;
    left: 75%;
    transform: translate(-50%, -50%);
    height: 100%;
    z-index: 2;
    padding: 20px;
    text-align: center;
    box-shadow: 25px 25px 50px 0 white inset, -25px -25px 50px 0 white inset;
}

.Anlässe-background {
    background-image: url("/img/img7.jpg");
    filter: blur(3px);
    -webkit-filter: blur(3px);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 150%;
}

.Angebot-background {
    background-image: url("/img/img10.jpg");
    filter: blur(3px);
    -webkit-filter: blur(3px);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 150%;
}

.logo {
    position: absolute;
    top: 50%;
    left: 51%;
    transform: translate(-50%, -50%);
    height: 50%;
    z-index: 2;
    padding: 20px;
    text-align: center;
}

.scroll-down-gif {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 50%;
    z-index: 2;
    padding: 20px;
    text-align: center;
}

.scroll-down-gif2 {
    position: absolute;
    top: 190%;
    left: 75%;
    transform: translate(-50%, -50%);
    height: 50%;
    z-index: 2;
    padding: 20px;
    text-align: center;
}

.scroll-down-gif3 {
    position: absolute;
    top: 290%;
    left: 75%;
    transform: translate(-50%, -50%);
    height: 50%;
    z-index: 2;
    padding: 20px;
    text-align: center;
}

.scroll-down-gif4 {
    position: absolute;
    top: 390%;
    left: 25%;
    transform: translate(-50%, -50%);
    height: 50%;
    z-index: 2;
    padding: 20px;
    text-align: center;
}

.Luganighetta-text {
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 150%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
}

.Anlässe-text {
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 245%;
    left: 75%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 45%;
    padding: 20px;
    text-align: center;
}

.Angebot-text {
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 345%;
    left: 25%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 45%;
    padding: 20px;
    text-align: center;
}

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(0, 0, 0);
    height: 15%;
    color: white;
    text-align: center;
    z-index: 3;
}

#section1 {
    height: 100%;
}

#section2 {
    height: 200%;
}